/*
* Main style file
*/


//  Usefull resources:
// https://thoughtbot.com/blog/controlling-color-with-sass-color-functions

// CSS reset
// @import 'reset';

// Bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

// v-tooltip
@import '../../node_modules/v-tooltip/dist/v-tooltip.css';

//#region Variables

// Main colors according to 
// https://colorhunt.co/palette/171392
$main-color1: #142850;
$main-color2: #27496d;
$main-color3: #0c7b93;
$main-color4: #00a8cc;

// Semantic colors
$backgroung-color-main: #FBFBFB;
$border-color-gray: #EDEDED;

$color-white: #fff;
$color-black: rgb(26, 25, 25);
$color-gray: #BFCCD5;
$color-green: #26ab26;
$color-green-dark: #239423;
$color-blue: #13B1E8;
$color-blue-dark: #0056b3;

//#endregion


//#region General overrides

body {
    background-color: $backgroung-color-main;
}

a {
    color: $color-blue;
    cursor: pointer;

    &.router-link-exact-active {
        color: $color-blue-dark;
    }
    &:hover {
        color: $color-blue-dark;
    }
}

//#endregion


//#region Extend Bootstrap4

/*
* Width and height
* w/h 25% ,50%, 75%, 100%, auto
* E.g. w-md-auto, w-lg-75%
*/

// E.g. w-md-auto
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
        @each $prop, $abbrev in (width: w, height: h) {
            @each $size, $length in $sizes {
                .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .mr-sm-0 {
        // margin-right: 0 !important;
    }
}


//#endregion


//#region Library overrides


// Bootstrap4 colors
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

.border-danger {
    color: var(--danger);
}

.fa-spin--1s {
    animation: fa-spin 1s linear infinite;
}

.v--modal-box--overflow-visible {
    overflow: visible !important;
}

@include media-breakpoint-down(sm) {
    .v--modal-box--sm-fullwidth {
        width: 98% !important;
        left: 1% !important;
    }
}

//#endregion


.disabled, .block-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}

.app-modal {
    padding: 1rem;

    .app-modal-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .app-modal-title {
        font-weight: bold;
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }

    .app-modal-close {
        margin: 0 0 0 auto;
        padding: 0.1rem 0.5rem 0.3rem 0.5rem;
        cursor: pointer;
    }

    .app-modal-content {
        
    }
}

.app-wrapper {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-color: none;
    min-height: 100vh;
}

.app-sidebar-parent {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.app-sidebar {
    $app-sidebar-bg-dark: $main-color1;
    $app-sidebar-bg: $main-color2;

    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

    background: $app-sidebar-bg;
    color: #fff;
    transition: all 0.3s;

    &.active {
        margin-left: -250px;
    }

    .sidebar-header {
        padding: .5rem 1rem;
        background-color: $app-sidebar-bg-dark;
    }
    .sidebar-item {
        display: block;
        // padding: .5rem 1rem;
    }
    .sidebar-link {
        display: block;
        padding: .7rem 1rem;
        font-weight: bold;
        text-align: left;
        color: $color-white;

        &.router-link-exact-active {
            color: $color-white;
            background-color: $app-sidebar-bg-dark;
        }
        &:hover {
            color: $app-sidebar-bg-dark;
            background-color: $color-white;
            text-decoration: none;
        }
    }
    .sidebar-user {
        display: block;
        text-decoration: none !important;
        color: $color-white;

        .user-image {
            border-radius: 20%;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }
}

// Instead of appearing by default, it'll be hidden and appear only after clicking the toggle button.
@media (max-width: 768px) {
    .app-sidebar {
        margin-left: -250px;
    }
    .app-sidebar.active {
        margin-left: 0;
    }
}

.app-navbar {
    padding: 0.5rem 0.5rem;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-page-content {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



.app-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    .nav-item {
        display: block;
        padding: .5rem 1rem;
    }
    .nav-link {
        font-weight: bold;
        text-align: right;
        padding: 0;
    }
    .nav-user {
        margin: 0 0 20px 0;

        .user-image {
            border-radius: 20%;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }
}

.app-nav-tabs {
    border: none;

    .nav-item {
        padding: .5rem 1rem .5rem 0;
    }

    .nav-link {
        padding: 0 0.5rem;
        color: $color-gray;
        border: none;
        background: none;

        &.active {
            border-bottom: 3px solid $color-blue;
            background: none;
            color: $color-blue;

            a {
                border: none;
                background: none;
            }
        }
        &:hover {
            color: $color-blue;
        }

        a {
            border: none;
            background: none;
        }
    }
    .nav-item {

    }
}

.app-card-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;;

    .app-card-nav-item {
        width: 20%;
        max-width: 200px;
        min-width: 150px;
        height: 10rem;
        color: $color-white;
        background-color: lighten($main-color2, 0%);
        border: 1px solid lighten($main-color2, 0%);
        border-radius: 0.3rem;
        margin: 0 0 0.5rem 0;
        padding: 0.5rem;
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: $color-black 0px 0px 2px;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        &:hover, &:active, &:focus {
            background-color: darken($main-color2, 10%);
        }

        .app-card-nav-image {

        }

        .app-card-nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            color: rgba($color-white, 0.75);
            text-shadow: $color-black 1px 1px 0px;
            background-color: rgba($color-black, 0.15);

            &:hover {
                text-decoration: none;
                color: rgba($color-white, 1);
            }
        }
    }
}

.app-tab-content {
    margin: 30px 0 0 0;
}

.app-fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    $color-strip1: $color-white;
    $color-strip2: $color-blue;

    .app-loader-strip {
        background-color: $color-strip1;
        height: 6px;
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: 0 1px 5px #8a8a8a inset, 0 1px 0 #cacaca;
    }

    @keyframes animate-stripes {
        0% {
            background-position: 0 0;
        }
    
        100% {
            background-position: 60px 0;
        }
    }

    .stripes {
        background-size: 30px 30px;
        background-image: linear-gradient(135deg, $color-strip2 25%, transparent 25%, transparent 50%, $color-strip2 50%, $color-strip2 75%, transparent 75%, transparent);

        &.stripes--animated {
            animation: animate-stripes 0.5s linear infinite;
        }
    }

    .app-loader-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        padding: 2rem;
        max-width: 100%;

        .content-title {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.5rem;
        }

        .content-text {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 1rem 0 0 0;
        }
    }
}

.app-row-loader {
    display: flex;
    justify-content: center;

    .loader-spinner {
        display: block;
        color: $color-blue;
    }

    // CSS source: https://codepen.io/petersonby/pen/BVwxGP
    .loading-line {
        $mainColor: #111;
        $loaderColor: #007efd;
        $backColor: #87c3ff;
        $time: 2s;
        $size: 3px;

        background-color: $mainColor;
        overflow: hidden;
        width: 100%;
        height: 100%;
        // position: fixed;
        // top: 0; left: 0;
        display: flex;
        align-items: center;
        align-content: center; 
        justify-content: flex-start;  
        z-index: 100000;

        .loading-line__element {
            height: $size;
            width: 100%;
            background: $backColor;

            &:before {
                content: '';
                display: block;
                background-color: $loaderColor;
                height: $size;
                width: 0;
                animation: getWidth $time ease-in infinite;
            }
            
            @keyframes getWidth {
                100% { width: 100%; }
            }
        }
    }
}


.app-loading-button {


    &.app-loading-button--loading {
        opacity: 0.75;
        pointer-events: none;
    }

    .button-flex-wrapper {
        display: inline-flex;
    }

    .button-content {
    }

    .loading-icon-wrapper {
        margin: 0 0 0 0.5rem;
    }

    .loading-icon {
        display: inline-block;
        margin: 0;
    }
}

.app-datetime-input {
    // padding: 8px 10px;
    // font-size: 16px;
    // border: solid 1px #ddd;
    // color: #444;
}

.app-pagination-wrapper {
    .scroll-to-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 0;
        margin: 0.5rem 0;
        font-size: 1rem;
        cursor: pointer;

        &:hover, &:active, &:focus {
            background-color: rgba(165, 165, 165, 0.22);
        }
    }
}
.app-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;

    .page-item {
        display: inline;

        &:first-child {
            > a,
            > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
          }
          &:last-child {
            > a,
            > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
          }
    }

    .page-item-active {
        .page-item-link {
            &,
            &:hover,
            &:focus {
                z-index: 2;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }
        }
    }

    .page-item-disabled {
        .page-item-link {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }
    }

    .page-item-link {
        cursor: pointer;
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;

        &:hover,
        &:focus {
            z-index: 3;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }
    }

    .break-view {

    }

    .break-view-link {
        
    }
}

.login-wrapper, .logout-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loader {
        font-size: 140px;
        color: $color-blue;
        margin: 20px 0 0 0;
    }
}

.register-wrapper {
    .password-suggestion-list {
        .list-item {
            margin: 0;
            padding: 0;
        }
    }

    .user-registered-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .user-registered-icon {
            font-size: 5rem;
            margin: 0 0 1rem 0;
            color: $color-blue;
        }
    }
}

.home-wrapper {

}

.error-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-image {
        width: 400px;
    }
}

.dashboard-wrapper {

}

.user-company-control-wrapper {
    margin: 0 0 2rem 0;

    .company-select-wrapper {
    }

    .company-select {
        width: 400px;
    }
}

// Generic cards list
.items-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;

    .item-card {
        width: 19.6%;
        margin: 0 0 0.5% 0;

        &:not(:nth-child(5n)) {
            margin-right: 0.5%;
        }

        &:nth-last-child(-n + 5) {
            margin-bottom: 0;
        }

        .item-card-image {
            max-height: 20rem;
            min-height: 10rem;
            background-color: gainsboro;
        }

        .card-bottom-controls {
            display: flex;
            align-items: start;
            justify-content: stretch;

            .card-bottom-control-item {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                //padding: 0rem 1rem 1.25rem 1rem;
                height: 3rem;
                border-top: 1px solid $border-color-gray;
                cursor: pointer;

                &:hover, &:active, &:focus {
                    background-color: rgba(165, 165, 165, 0.22);
                }

                &:not(:last-child) {
                    border-right: 1px solid $border-color-gray;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .item-card {
            width: 100%;
            margin: 0 0 0 0 !important;

            &:not(:last-child) {
                margin-bottom: 0.75rem !important;
            }
        }
    }
}

.study-items-wrapper {
    .study-items-list {
        .study-item {
            cursor: auto;
        }
    }
}

.user-films-wrapper {
    .user-items-list {
        .user-item {
            cursor: pointer;
        }
    }
}

.study-items-learn-flash-cards-wrapper,
.study-items-learn-wordmeaning-wrapper,
.study-items-learn-meaningword-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .training-card {
        width: 80%;
        max-width: 400px;

        .training-tooltip {
            
        }

        .training-image {
            max-height: 250px;
            min-height: 250px;
            background-color: gainsboro;
        }

        .training-title {

        }

        .training-description {
            font-size: 0.95rem;
        }

        .training-example {
            font-style: italic;
            font-size: 0.80rem;
        }

        .card-bottom-controls {
            display: flex;
            align-items: start;
            justify-content: stretch;

            .card-bottom-control-item {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                //padding: 0rem 1rem 1.25rem 1rem;
                height: 3rem;
                border-top: 1px solid $border-color-gray;
                cursor: pointer;

                &:hover, &:active, &:focus {
                    background-color: rgba(165, 165, 165, 0.22);
                }

                &:not(:last-child) {
                    border-right: 1px solid $border-color-gray;
                }
            }
        }
    }
}

//#region Custom components

.folder-tree-view {
    list-style-type: none;

    &.folder-tree-view--root {
        padding: 0;
    }

    .tree-item {
        cursor: pointer;
        &:hover {
        }

        .tree-item-toggle {
            &:hover {
                color: $color-green-dark;
            }
        }

        .tree-item-name {
            &:hover {
                color: $color-blue-dark;
            }
        }

        .tree-item-controls {
            .control-item {
                font-size: 1.1rem;
                opacity: 0.8;

                &:hover {
                    color: $color-green-dark;
                }
            }
        }
    }
}

//#endregion
