
// Main colors according to 
// https://colorhunt.co/palette/171392
$main-color1: #142850;
$main-color2: #27496d;
$main-color3: #0c7b93;
$main-color4: #00a8cc;

// Semantic colors
$backgroung-color-main: #FBFBFB;
$border-color-gray: #EDEDED;

$color-white: #fff;
$color-black: rgb(26, 25, 25);
$color-gray: #BFCCD5;
$color-red: #dc3545;
$color-yellow: #ffc107;
$color-green: #28a745;
$color-green-dark: #239423;
$color-blue: #13B1E8;
$color-blue-dark: #0056b3;

$color-succes: $color-green;
$color-warning: $color-yellow;
$color-danger: $color-red;
