@import './variables';

$multiselect-color: $main-color-light;

// general rewrite for all multiselect
.multiselect {
    // placeholder
    .multiselect__tags {
        .multiselect__placeholder {
            font-size: 0.9rem;
            line-height: 1rem;
        }
    }

    // selected text
    .multiselect__single {
        font-size: 0.9rem;
        line-height: 1rem;
    }

    // options
    .multiselect__content-wrapper {
        .multiselect__content {
            .multiselect__element {
                .multiselect__option {
                    outline: none;
                    font-size: 0.8rem;
                    line-height: 1rem;

                    &.multiselect__option--highlight {
                        background: $multiselect-color;
                        color: $main-color-black;

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.multiselect--disableSelectLabel {
    .multiselect__content-wrapper {
        .multiselect__content {
            .multiselect__element {
                .multiselect__option {
                    &.multiselect__option--highlight {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.multiselect--fixSmallWidthOptions {
    // Break spacs for options when small width
    .multiselect__option {
        white-space: break-spaces;
        font-size: 0.8rem;
    }

    // Display help text below the option instead of absolute right position
    .multiselect__option--highlight:after {
        position: static;
        padding: 0;
        font-size: 0.8rem;
        line-height: normal;
        margin: 1rem 0 0 0;
        display: block;
    }
}

.multiselect--correctAnswer,
.multiselect--wrongAnswer  {
    
}
.multiselect--correctAnswer {
    &.multiselect--disabled {
        color: $color-white;
        background: $color-succes;
        border-color: $color-succes;
        opacity: 0.65;

         .multiselect__select {
            background: $color-succes;

            &::before {
            }
        }
    }

    .multiselect__tags {
        color: $color-white;
        background: $color-succes;
        border-color: $color-succes;

        .multiselect__placeholder {
            color: $color-white;
        }

        .multiselect__single {
            color: $color-white;
            background: $color-succes;
        }
    }
}
.multiselect--wrongAnswer {
    &.multiselect--disabled {
        color: $color-white;
        background: $color-danger;
        border-color: $color-danger;
        opacity: 0.65;

         .multiselect__select {
            background: $color-danger;

            &::before {
            }
        }
    }

    .multiselect__tags {
        color: $color-white;
        background: $color-danger;
        border-color: $color-danger;

        .multiselect__placeholder {
            color: $color-white;
        }

        .multiselect__single {
            color: $color-white;
            background: $color-danger;
        }
    }
}
