.dockerignore

.env
.env.local
.env.*.local

.git
.gitignore
.vs
.vscode
.idea
docker-compose.yml
docker-compose.*.yml
**/bin
**/obj

**/serilog-logs

**/node_modules

healthchecksdb
healthchecksdb-journal

**/elasticsearch-local-data

